@import '~bootstrap/scss/bootstrap';
@import '_variables.scss';

#my_aside {
	height: 94vh;
}

#my_header {
	height: 6vh;
}

/* restaurant */
#my_restaurant {
	.row {
		border-bottom: 2px solid lightgrey;
	}

}

.contacts {
	p {
		margin-bottom: 0.25rem;
	}

	i {
		margin-right: 0.5rem;
	}
}

/* dishes */

#my_table {

	th {
		border: 0;
		border-radius: 0.2rem;
	}

	td {
		vertical-align: middle;
	}

	a,
	button {
		padding: 0.5rem;
		text-decoration: none;
		vertical-align: middle;
	}
}