@import '~bootstrap/scss/bootstrap';
@import '_variables.scss';

#my_aside {
	height: 94vh;
}

#my_header {
	height: 6vh;
}

/* restaurant */
#my_restaurant {
	.row {
		border-bottom: 2px solid lightgrey;
	}

}

.contacts {
	p {
		margin-bottom: 0.25rem;
	}

	i {
		margin-right: 0.5rem;
	}
}